-- DopeTech E-commerce Database Schema
-- Run this in your Supabase SQL Editor

-- Products table
CREATE TABLE products (
  id SERIAL PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  price DECIMAL(10,2) NOT NULL,
  original_price DECIMAL(10,2),
  description TEXT,
  category VARCHAR(100),
  image_url TEXT,
  in_stock BOOLEAN DEFAULT true,
  stock_quantity INTEGER DEFAULT 0,
  features JSONB,
  rating INTEGER DEFAULT 0,
  reviews INTEGER DEFAULT 0,
  discount INTEGER DEFAULT 0,
  hidden_on_home BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Orders table
CREATE TABLE orders (
  id SERIAL PRIMARY KEY,
  order_id VARCHAR(50) UNIQUE NOT NULL,
  customer_name VARCHAR(255) NOT NULL,
  customer_email VARCHAR(255) NOT NULL,
  customer_phone VARCHAR(50),
  customer_city VARCHAR(100),
  customer_state VARCHAR(100),
  customer_zip_code VARCHAR(20),
  customer_address TEXT,
  total_amount DECIMAL(10,2) NOT NULL,
  payment_option VARCHAR(20) DEFAULT 'full',
  payment_status VARCHAR(50) DEFAULT 'pending',
  order_status VARCHAR(50) DEFAULT 'processing',
  receipt_url TEXT,
  receipt_file_name VARCHAR(255),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Order items table
CREATE TABLE order_items (
  id SERIAL PRIMARY KEY,
  order_id INTEGER REFERENCES orders(id) ON DELETE CASCADE,
  product_id INTEGER REFERENCES products(id),
  quantity INTEGER NOT NULL,
  price DECIMAL(10,2) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes for better performance
CREATE INDEX idx_products_category ON products(category);
CREATE INDEX idx_orders_customer_email ON orders(customer_email);
CREATE INDEX idx_orders_created_at ON orders(created_at);
CREATE INDEX idx_order_items_order_id ON order_items(order_id);

-- Enable Row Level Security
ALTER TABLE products ENABLE ROW LEVEL SECURITY;
ALTER TABLE orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE order_items ENABLE ROW LEVEL SECURITY;

-- Create policies (allow public read access to products)
CREATE POLICY "Products are viewable by everyone" ON products
  FOR SELECT USING (true);

-- Allow authenticated users to create orders
CREATE POLICY "Users can create orders" ON orders
  FOR INSERT WITH CHECK (true);

-- Allow users to view their own orders
CREATE POLICY "Users can view their own orders" ON orders
  FOR SELECT USING (true);

-- Allow order items to be created with orders
CREATE POLICY "Order items can be created with orders" ON order_items
  FOR INSERT WITH CHECK (true);

-- Create function to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Create triggers for updated_at
CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON products
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_orders_updated_at BEFORE UPDATE ON orders
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Insert sample products



































































































































































































INSERT INTO products (name, price, original_price, description, category, image_url, in_stock, stock_quantity, features, rating, reviews, discount, hidden_on_home) VALUES (
    '9801779849 / 9801690693',
    999.99,
    1199.99,
    'JBL TUNE 215BT WIRELESS EARBUD HEADPHONES ðŸ”¥
Drop the beat down 
Enjoy your music and take calls for 16 hours. Get a full recharge in 2 hours or 1 hour extra in just 10 minutes top up
ðŸ”¸Jbl Pure Bass Sound 
ðŸ”¸Bluetooth 5.0 For lossless Quality 
ðŸ”¸Hands-free Calls 
ðŸ”¸Magnetic Cable Management
ðŸ”¸Voice Assistanted Supported
_______
DM us for more information ðŸ“©
Call us:  / 
Delivery all over Nepal ðŸ‡³ðŸ‡µ(Terms and conditions applied) 
_______',
    'accessory',
    'https://instagram.fruh4-2.fna.fbcdn.net/v/t51.2885-15/277119707_157402870010521_7314407543664643923_n.jpg?stp=dst-jpg_e15_fr_s1080x1080_tt6&_nc_ht=instagram.fruh4-2.fna.fbcdn.net&_nc_cat=101&_nc_oc=Q6cZ2QGj3F3PQ_jGNn-dEUKQvoFF5LFlZejjXimWnrB2B4QTcWUjVKKZVHSsXk0Ex36sajs&_nc_ohc=lp2Lsp-_KvcQ7kNvwHyjB7a&_nc_gid=a3BJkz8vte4VtwWfWst2qQ&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfX4LXXAF19lbqYLzMc-0UJ1VKZLdleaGtWE1ueLgvSquQ&oe=68A1F800&_nc_sid=10d13b',
    true,
    37,
    '["dopetechnepal","jbl","gadgets","gadgetshop","jbltune215bt"]',
    5,
    14,
    0,
    false
  );





